.adminViewService__below {
  width: 200px;
  margin-top: 90px;
  justify-content: space-evenly;
  display: flex;
}
.adminViewService__below > table {
  margin-top: -13px;
  padding: 24px;
  font-size: 13px;
  color: black;
  margin-left: -700px;
  width: 900px;
}
.table__admin > tr > td {
  text-align: center;
  border-bottom: 1px solid #EDF2F9;
  padding: 10px;
}
.table__admin > tr > td:hover {
  color: blue;
  cursor: pointer;
}
.table__admin > tr > th {
  padding: 10px;
  background-color: #f0f4fc;
  text-align: center;
  width: 300px;
  justify-content: space-evenly;
  margin-left: 40px;
}
