.login {
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #f2e9e4;
  position: sticky;
  top: 0;
  z-index: 100;
}
.login_headerLeft {
  font-family: cursive;
padding-left: 20px; 
 font-size: 23px;
  position: relative;
  width: 60px;
  height: 110px;
  cursor: pointer;
  color: #dcae96;
}



.login_headerRight {
  letter-spacing: 2px;
  font-family: serif;
  font-size: 20px;
  display: flex;
  color: black;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
