@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.sample {
  text-align: center;
  padding: 20px;
  margin: 0;
  background-color: whitesmoke;
}

.sample__container {
  text-align: left;
}
.sample__center {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}
.sample__centerLeft {
  padding: 30px;
  width: 500px;
  height: 750px;
}
.sample__centerLeft > p {
  font-size: smaller;
}
.sample__centerRight {

    margin: 10px;
  justify-content: left;
  width: 500px;
  height: 590px;
  padding: 35px 25px;
  background-color: white;

}
.sample__image > img {
  width: 220px;
  height: 220px;
}
.sample__centerRight > form > input {
  background-color: transparent;
  color: black;
  border: none;
  height: 16px;
  margin-bottom: 10px;
  background-color: white;
  width: 80%;
  border-bottom: 1px solid black;
  margin: 10px;
  margin-left: -3px;
}
.sample__button {
    padding: 30px;

}
.sample__button > button {
    transition: 0.2s;

    font-weight: 500;
    letter-spacing: 3px;
     font-family: 'Bebas Neue', cursive;;
    border: 1px solid black;
    color: black;
    height: 43px;
    width: 125px;
    background-color: white;
    padding: 12px;
}
.sample__button > button:hover {

    background-color: rosybrown;
    color: white;
    transition: 0.2s;
}
.sample__centerRight > form > p {
    color: red;
    font-size: smaller;
  }
  