.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 237px;
  height: 100px;
  padding: 40px;
  padding-top: 5px;
  padding-bottom: 60px;
  background-color: whitesmoke;
  color: #dcae96;
  font-family: monospace;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);

}
.subtotal > p {
  color: white;
}
.subtotal > button {
  
  padding: 0px;

  background: #dcae96;
}
.subtotal > button:hover {
  background: white;
  color: violet;
}